In [34]:
import os
print(os.getcwd())
import pandas as pd
def mysort():
    data = pd.read_table('ICAR_ORDERINFO.txt', encoding='utf-8', sep=";")
    print(data.loc[2:2, "ACCOUNTNO"])
    data.sort_values("ICARFEE",inplace=True)
    data[["ACCOUNTNO", "ICARFEE"]].to_csv("ICAR_ORDERINFO.csv",index=False,sep=';')

%time mysort()

/home/ubuntu/PycharmProjects/deep_learn/others
2    18743027324
Name: ACCOUNTNO, dtype: int64
CPU times: user 11.5 ms, sys: 0 ns, total: 11.5 ms
Wall time: 18.6 ms

In [2]:
import pandas as pd

test_list = [u'ACCOUNTNO;ICARFEE;', u'15675430979;50;', u'17899653590;300;', u'13678645634;150;', u'15679040608;350;', u'14739689005;10;', u'15697965102;35;', u'15968585345;45;', u'13860789023;79;', u'15875808686;88;', u'13784909291;37;', u'18743027324;24;', u'17720482845;46;', u'13567890123;72;', u'18757899234;96;', u'13698908080;18;', u'18734567678;26;', u'13045678567;48;']
for i in test_list:
    test_list[test_list.index(i)] = i.split(";")[0:2]
pd.DataFrame(test_list[1:-1], columns=test_list[0])

      ACCOUNTNO ICARFEE
0   15675430979      50
1   17899653590     300
2   13678645634     150
3   15679040608     350
4   14739689005      10
5   15697965102      35
6   15968585345      45
7   13860789023      79
8   15875808686      88
9   13784909291      37
10  18743027324      24
11  17720482845      46
12  13567890123      72
13  18757899234      96
14  13698908080      18
15  18734567678      26